# Python Byte Code files
*.pyc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bazel Files
bazel-*
blaze-*

# Temp Folders
tmp/
temp/
.out/
*~
\#*

# MacOS files
.DS_Store
__MACOSX
__MACOSX/*
.Trash*

# A-Style format files
*.orig

# IDE Realted
.vscode
.theia
.ijwb
.idea
